setuptools
flask==3.0.3
werkzeug==3.0.3
mlflow==3.14.0
dagshub
sentence-transformers
torch==2.12.1 --index-url https://download.pytorch.org/whl/cpu
numpy==2.0.2
scikit-learn==1.6.1
scipy==1.16.3
pandas==2.2.2
nltk==3.8.1
contractions
prometheus-client
pyarrow>=16.0.0
cloudpickle==3.1.2
dill==0.3.8